body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: red;
    
    background-image: url(https://getwallpapers.com/wallpaper/full/1/5/e/567900.jpg);
}


h3{
    color: yellow;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.weather-widget {
    width: 300px;
    min-width: 300px;
    max-height: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: left;
    position:relative;
    margin-left: 1150px;
    
    background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
}

input[type="text"], button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    text-align: center;
}

.weather-info {
    display: none;
    margin-top: 20px;
    color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color: blanchedalmond;
}
button:hover{
transform: translateY(-3px);
background-color: aquamarine;
}
.hidden{
    display: none;
    color: red;
}

@media (max-width: 768px) {
    .weather-widget {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}